// Variables 
$white: #f1eff0;

//  Theme colors
$light:      #d2d0d1;
$dark:       #b3b1b2;
$primary:    #6686b9;
$secondary:  #2b4881;
$info:       #39c1f0;
$accent1:    #183069;
$accent2:    #3662ba;
$accent3:    #060245;
$success:    #46b480;
$warning:    #c4a448;
$danger:     #f44336;

// $dark:       darken($light; 10%);  // this is a function

// see: https://youtu.be/akDIJa0AP5c?si=rYeEbnUMMNKxeo3m
// https://youtu.be/Zz6eOVaaelI?si=8G-fXp2RJJzLp3MU

.navbar-brand {
  color: $info !important;
  // color: $secondary;
  // color: $info
}

  // If you are looking for the variables for the theme, 
  // https://getbootstrap.com/docs/5.0/customize/sass/
  
.hr {
    border-color: $info;
}

// see colors https://huemint.com/bootstrap-plus/

// Target specific font icons by their class
.bi {
  // color: $info;  // Removed the direct color assignment
  &.icon-primary {
    color: $primary;
  }
  &.icon-secondary  {
    color: $secondary;
  }
  &.icon-danger {
    color: $danger;
  }
  &.icon-warning  {
    color: $warning;
  }
  &.icon-success {
    color: $success;
  }
  &.icon-info  {
    color: $info;
  }
}