{% load displays %}  <!-- load the templatetags-->
<h3>This is data for {{farm.name}} at {{farm.location}}</h3>

<table class="table table-secondary table-hover">
  <thead>
    <tr>
      <th scope="col" class = "text-center">Granary</th>
      <th scope="col" class = "text-center">Highest current temp</th>
      <th scope="col" class = "text-center">Latest update</th>
      <th scope="col" class = "text-center">Battery Voltage</th>
    </tr>
  </thead>
  <tbody>
    {% for chain in chains %}
        {% if chain.farm == farm %}
            <tr>
                <th scope="row">{{ chain.serial_number }}-{{ chain.name }}</th>
                <td class = "text-center fw-bolder">
                    {% temp_text_colour__html chain.highest_current_temp.value chain.highest_current_temp.sensor.alarm chain.highest_current_temp.alarm_state %}
                </td>
                <td>
                    {{ chain.latest_update }}
                    {% comment %} {% date_format chain.latest_update %} {% endcomment %}
                </td>
                <td class = "text-center fw-bolder">{% battery_voltage__html chain.battery_voltage %}</td>
            </tr>
        {% endif %}
    {% endfor %}
  </tbody>
</table>