{% load tz %}
{% load displays %}  <!-- load the templatetags-->

<table class="table table-secondary table-hover">
  <thead>
    <tr>
      <th scope="col" class = "text-center">Granary</th>
      <th scope="col" class = "text-center">Highest current temp</th>
      <th scope="col" class = "text-center">Latest update</th>
      <th scope="col" class = "text-center">Battery Voltage</th>
      <th scope="col" class = "text-center"></th>
    </tr>
  </thead>
  <tbody>
    {% for chain in chains %}
        {% if chain.farm == farm %}
          <a href="{{ item.get_absolute_url }}" class="row-link">
            <tr>
                <th scope="row">{{ chain.serial_number }}-{{ chain.name }}</th>
                <td class = "text-center fw-bolder">
                    {% temp_text_colour__html chain.highest_current_temp.value chain.highest_current_temp.sensor.alarm chain.highest_current_temp.alarm_state %}
                </td>
                <td class = "text-center fw-bolder">
                    {% localtime on %}
                        {% date_format chain.latest_update %}
                    {% endlocaltime %}
                </td>
                <td class = "text-center fw-bolder">{% battery_voltage__html chain.battery_voltage %}</td>
                <td class = "text-center fw-bolder"></td>
            </tr>
          </a>
        {% endif %}
    {% endfor %}
  </tbody>
</table>
