<div class="album py-1 ">
    <div class="row">
        {% for farm in farms %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header boarder">
                        {{ farm.name}} at {{ farm.location }}
                    </div>
                    <div class="card-body boarder">
                        {% include "snippets/specific.html" %}
                    </div>
                    <div class="card-footer boarder">footer</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
