{% extends 'core/base.html' %}  {# Extend your base.html #}

{% block title %}
    DASHBOARD
{% endblock %}

{% block content %}  {#  Put content in the 'content' block #}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link my-custom-link active" aria-current="page" href="#">Farm</a>
    </li>
    <li class="nav-item">
      <a class="nav-link my-custom-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link my-custom-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link my-custom-link" aria-disabled="true">Disabled</a>
    </li>
  </ul>
{% endblock %}
